default:
  cluster: <%= ENV["ECS_CLUSTER"] %>
  runner: ecs
  region: ap-northeast-1
  container_definition:
    image: joker1007/wrapbox@sha256:0925926e867244907f7f72b322a24312501719960d10c989a3847de4890ec55a
    cpu: 256
    memory: 256
    essential: true
  # task_definition:
    # task_definition_name: task_def_name:154
    # main_container_name: container1

docker:
  runner: docker
  keep_container: false
  container_definition:
    image: joker1007/wrapbox@sha256:0925926e867244907f7f72b322a24312501719960d10c989a3847de4890ec55a
    cpu: 600
    memory: 1024

ecs_with_launch_template:
  cluster: <%= ENV["ECS_CLUSTER"] %>
  runner: ecs
  region: ap-northeast-1
  container_definition:
    image: joker1007/wrapbox@sha256:0925926e867244907f7f72b322a24312501719960d10c989a3847de4890ec55a
    cpu: 256
    memory: 256
    essential: true
  launch_instances:
    launch_template:
      launch_template_id: <%= ENV["LAUNCH_TEMPLATE_ID"] %>
      version: $Latest
    tag_specifications:
      - resource_type: instance
        tags:
          - key: Purpose
            value: wrapbox_spec
    wait_until_instance_terminated: false

ecs_without_runner:
  cluster: <%= ENV["ECS_CLUSTER"] %>
  region: ap-northeast-1
  container_definition:
    image: joker1007/wrapbox@sha256:0925926e867244907f7f72b322a24312501719960d10c989a3847de4890ec55a
    cpu: 256
    memory: 256
    essential: true

ecs_enable_execute_command:
  cluster: <%= ENV["ECS_CLUSTER"] %>
  runner: ecs
  region: ap-northeast-1
  enable_execute_command: true
  container_definition:
    image: joker1007/wrapbox@sha256:0925926e867244907f7f72b322a24312501719960d10c989a3847de4890ec55a
    cpu: 256
    memory: 256
    essential: true

ecs_disable_execute_command:
  cluster: <%= ENV["ECS_CLUSTER"] %>
  runner: ecs
  region: ap-northeast-1
  enable_execute_command: false
  container_definition:
    image: joker1007/wrapbox@sha256:0925926e867244907f7f72b322a24312501719960d10c989a3847de4890ec55a
    cpu: 256
    memory: 256
    essential: true

ecs_with_awslogs_fetcher:
  cluster: <%= ENV["ECS_CLUSTER"] %>
  runner: ecs
  region: ap-northeast-1
  execution_role_arn: <%= ENV["EXECUTION_ROLE_ARN"] %>
  log_fetcher:
    type: awslogs
    log_group: /ecs/wrapbox
    log_stream_prefix: ecs_with_log_fetcher
    region: ap-northeast-1
  container_definition:
    image: joker1007/wrapbox@sha256:0925926e867244907f7f72b322a24312501719960d10c989a3847de4890ec55a
    cpu: 256
    memory: 256
    essential: true
    log_configuration:
      log_driver: awslogs
      options:
        awslogs-group: /ecs/wrapbox
        awslogs-region: ap-northeast-1
        awslogs-stream-prefix: ecs_with_log_fetcher
